<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727741646431-v9itfb35do5s0mfdv57pie4t7flffv8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727741646431-v9itfb35do5s0mfdv57pie4t7flffv8h</string>
	<key>API_KEY</key>
	<string>AIzaSyA433Qi74hQ57FZX39iXR7CmZ59_mYDFkc</string>
	<key>GCM_SENDER_ID</key>
	<string>727741646431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pablopilaa.agujetas</string>
	<key>PROJECT_ID</key>
	<string>agujetas</string>
	<key>STORAGE_BUCKET</key>
	<string>agujetas.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:727741646431:ios:3592163d441933fd4ebdea</string>
</dict>
</plist>
